/* main content between container class */
.content {
    max-width: 800px;
}
.fixed-heading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    z-index: 1020;
}
@media only screen and (max-width: 991px){
    .fixed-heading {
        max-width: 672px;
    }
}
@media only screen and (max-width: 767px){
    .fixed-heading {
        max-width: 492px;
    }
}
@media only screen and (max-width: 575px){
    .container {
        padding: 0;
    }
    .fixed-heading {
        max-width: 527px;
    }
}
/* task button styles */
.on-hover-red:hover {
    color: #d9534f;
}

/* task form styles */
/* The Modal (background) */
.custom-modal {
    position: fixed; /* Stay in place */
    z-index: 1040; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* Modal Content/Box */
.custom-modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 950px) {
    .custom-modal-content {
        max-width: 700px;
    }
}
@media only screen and (max-width: 750px) {
    .custom-modal-content {
        max-width: 580px;
    }
}
@media only screen and (max-width: 550px) {
    .custom-modal {
        padding-bottom: 0;
    }
}
.form {
    display: none;
    margin-bottom: 8rem;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(.95)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(.95)}
    to {transform: scale(1)}
}
/* end task form styles */

/* handle style */
@media only screen and (min-width: 770px) {
    i.fa-arrows-up-down-left-right {
        visibility: hidden;
    }
    div.taskSection:hover i.fa-arrows-up-down-left-right {
        cursor: grab;
        visibility: visible;
    }
}
/* end handle style */
.done-circle-btn {
    width: 18px;
    height: 18px;
}
.done-circle-btn > i {
    transform: translate(20%, 155%);
}
.done-circle-btn > i:before {
    position: relative;
    top: 50%;
    transform: translate(-20%, 800%);
    display: block;
}
input.search {
    background: transparent url("/assets/img/search.svg") no-repeat 5px;
    padding: 9px 4px 9px 35px;
}
input[type="text"]::placeholder {
    color: #bbbbbb;
}
